.btn-primary {
  color: #fff;
  background-color: rgba(209, 6, 54, 0.98);
  border-color: rgba(209, 6, 54, 0.98);
  box-shadow: none;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgba(209, 6, 54, 0.98);
  border-color: rgba(209, 6, 54, 0.98);
  box-shadow: none;
}

.btn-primary:focus {
  color: #fff;
  background-color: rgba(209, 6, 54, 0.98);
  border-color: rgba(209, 6, 54, 0.98);
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: rgba(209, 6, 54, 0.98);
  border-color: rgba(209, 6, 54, 0.98);
  box-shadow: none;
}
